.myButtons{
    padding: 10px 20px;
    background-color: hsl(120, 100%, 25%);
    border: none;
    border-radius: 5px;
    width:fit-content;
    margin-top: 5px;
    color: white;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myButtons:hover{
    background-color: hsl(120, 100%, 15%);
}