#input-container{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}
button{
    padding: 5px 10px;
    background-color: hsl(160, 100%, 75%);
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: hsl(160, 100%, 55%);
    cursor: pointer;
}
p{
    font-size: 3em;
}