form{
    text-align: center;
    background-color: aquamarine;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
#inputNum{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid grey;
}

label{
    font-weight: bold;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: hsl(120, 100%, 25%);
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: hsl(120, 100%, 15%);

}